.banner{
    background-image: url(image/Banner\ Image.png);
    width: 1300px;
    height: 600px;
    border-radius: 16px;
    border: 16px 16px 16px 16px;
    margin:0 auto;
    
}

.banner_title{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size:72px ;
}